{{ docType() }}
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}tt.site-indexer.bench!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/indexerStyle.css" rel="stylesheet">
    <style type="text/css">
        @import 'SAD.html';
    </style>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url('indexer') }}">SiteIndexer-bench-project</a>
            <div class="pull-right">
                <a class="brand" href="">About us</a>
                <a class="brand" href="">Follow us</a>
                <a class="brand" href="https://bitbucket.org/xplk/zend_site_indexer">Project source</a>
            </div>
        </div>
    </div>
</div>

{% block header %}

{% endblock %}
<div class="container">
    <div class="span12">
        {% block data %}

        {% endblock %}

    </div>
</div>
<footer style="height: 70px">

</footer>
<footer class="modal-footer navbar-fixed-bottom">
    {% block footer %}
        <h5>&copy; tt.istrelnikov 2013</h5>
    {% endblock %}
</footer>
<script src="/js/libs/angular.js"></script>
<script src="/js/libs/ui-bootstrap-tpls-0.5.0.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>